body{
    /*background-image: url("ocr.jpeg");*/
    background-color:rgb(18, 11, 0);
    background-repeat: no-repeat;
    background-size: 100%;
    transition-delay: 10s;
    transition: ease-in-out 10s;

}
body:active{
  background-color: rgba(255, 166, 0, 0.864);
}

@font-face {
  font-family: 'chakra_petchmedium';
  src: url(webfontkit-20230825-163520/chakrapetch-medium.woff2) format('woff2'),
       url('webfontkit-20230825-163520/chakrapetch-medium.woff') format('woff');
}

:root{
  --color-normal: orange;
}
div{
  display: grid;
  align-items: center;
  justify-content: center;
}
.grid-container {
    display: flex;
    flex-wrap: wrap;   
  }
  
  .grid-item {
    flex-direction: row; 
  }
  h1{
    text-align: center;
    color: var(--color-normal);
    text-shadow: 0.4rem 0.4rem 1px orangered;
    font-size: 6rem;
    font-weight: bold;
    margin: 0px;
    padding: none;
    font-family: 'chakra_petchmedium';
    transition: ease-in-out 100ms;
    
    user-select: none; 


  }
  h1:hover{
    text-shadow: 0.4rem 0.4rem yellow,0.4rem 0.4rem 15px orangered;
  }
  
  h1:active{
    color: yellow;
    text-shadow: none;
    transform: translate(0.4rem,0.4rem);
    text-shadow: 0px 0px 15px orange;
  }

  button {
    display: inline-block;
    height: 10rem;
    width: 10rem;
    margin: 10px;
    cursor: pointer;
    transition: 250ms ;
    transition-delay: 50ms;

    color: whitesmoke;
    font-size: 1.2rem;
    font-weight: bolder;
    text-align: center;
    user-select: none; 
    font-family: 'chakra_petchmedium';

    

    background-color: var(--color-normal);
    border: none;
    border-radius: 15px;
    box-shadow: 0.4rem 0.4rem orangered;
    text-shadow: 3px 2px 1px rgb(18,18,18);
  }
  
  button:hover {
    box-shadow: 0.4rem 0.4rem yellow,0.4rem 0.4rem 15px 2px orangered;
    text-shadow: 3px 2px 2px rgb(107, 29, 0);
    color: yellow;

  }
  
  button:active {
    opacity: 1;
    background-color: yellow;
    filter: brightness(1.1);
    color: rgb(255, 162, 0);
    font-weight: bold;
    box-shadow: 0rem 0rem 15px 5px orangered;
    text-shadow: 0px 0px 1px rgb(255, 162, 0);
    transform: translate(0.4rem,0.4rem);
  }
 